gdal>=3.0.2
numpy>=1.21.1
scipy>=1.4.1
psutil>=5.7.0
dbfread>=2.0.7

# Ver https://pip.pypa.io/en/stable/reference/requirements-file-format/#requirements-file-format
# Ver https://learnpython.com/blog/python-requirements-file/


